<% if @url_relation.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @url_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @url_relation, url: url_relations_path, method: :post do |f| %>
  <div class="url-input">
    <%= f.label :input_url, 'Url' %>
    <%= f.text_field :input_url %>
  </div>
  <%= f.submit 'Generate short url' %>
<% end %>

<% if @url_relation.persisted? %>
  <div class="result-url">
    <span class="result-label">Result URL: </span>
    <span class="result-value"><%= url_url(@url_relation.shortened_url_code) %></span>
  </div>
<% end %>
